/* 
    Document   : loggedin.css
    Created on : Feb 28, 2011, 3:47:04 PM
    Author     : steve
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/*
body{background-image:none;background-color:#f9f9f9;}
html{background:none repeat scroll 0 0 #F9f9f9;}
*/