/* core application stylesheet */
body{background:#fff url("../images/top-bg.png") repeat-x left -20px;}
.head{}
.bigHead{height:78px}
.page{position:relative;}
.mainMenu{border-bottom:1px solid #d2d2d2;}

.leftCol{width:150px;padding:10px;margin-right:10px;}
.main{padding:10px;}
.logo{position:relative;top:20px;left:20px;width:175px;}
.title{position:absolute;left:200px;top:18px;}
.loginMenu{position:absolute;top:0px;right:0px;width:500px;}



/**
 * faded class should be used by the application to demark 
 * text that is not as important as normal body text 
 * A good example would be displaying model data
 * name: Steven O'Brien The name label could have a faded class applied as it is less important information. 
 * typically the class will often make the text slightly less visible.
 * @Todo: move into oocss core
 */
.faded{color:#787878;}