/* core application stylesheet */
body{background:#fff url("../images/top-bg.png") repeat-x left -20px;}
.head{}
.bigHead{height:75px}
.page{position:relative;}

.leftCol{width:150px;padding:10px;margin-right:10px;}
.main{padding:10px;}
.logo{position:relative;top:20px;left:20px;width:175px;}
.title{position:absolute;left:200px;top:18px;}
.loginMenu{position:absolute;top:0px;right:0px;width:500px;}

.pageTitle{overflow:hidden;}
.pageTitle h1{float:left;}
.pageActions li{margin-left:5px;}

.projectName{float:left;}
.projectName h1{margin-bottom:0px;}
.projectCompanyName{color:#999999;}

.solid .ui-tabs .ui-tabs-nav li.ui-tabs-selected,.ui-tabs .ui-tabs-nav li,.solid .ui-tabs-nav {-moz-border-radius:0;}
.solid.rounded.ui-tabs .ui-tabs-nav li.ui-tabs-selected,.solid.rounded.ui-tabs .ui-tabs-nav li,.solid.rounded.ui-tabs-nav {-moz-border-radius: 4px 4px 0 0;}
.solid .ui-widget-header {background: none repeat scroll 0 0 transparent;border-width: 0 0 1px;}
.solid {border: medium none;}
.solid.ui-tabs .ui-tabs-nav li a {padding: 0.4em 1em;}


.roundleft{
    -moz-border-radius: 6px 0 0 6px;
    background: none repeat scroll 0 0 #F9F9F9;
    border-color: #CCCCCC -moz-use-text-color #CCCCCC #CCCCCC;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    font-size: 10px;
    padding: 8px 10px 3px;
}
#issue_box_name,#description{width:100%;}
#issue_name{border-left:0;}
#addIssue{float:right;}

.peoplepicture{
	display:inline;
}

#action-section-text{line-height:30px;}

.notelet{padding:0px;}
.ui-dialog.notelet,.ui-dialog.notelet,.ui-dialog.notelet .ui-dialog-content{-moz-border-radius:0px;-moz-box-shadow: -6px 9px 13px #BBBBBB;-webkit-box-shadow: -6px 9px 13px #BBBBBB;}
.ui-dialog.notelet .ui-widget-header,.ui-dialog.notelet .ui-dialog-content{background-color: #FBFDDD;}
.ui-dialog.notelet,.ui-dialog.notelet,.ui-dialog.notelet .ui-dialog-titlebar{border:none;background-image: none;}

.text-info{color:#777777;}

/** Statuses **/
.STATUS_NOT_STARTED {color:#820000;}
.STATUS_STARTED {color:#b19300;}
.STATUS_FINISHED {color:#1C8100}