/* 
    Document   : print.css
    Created on : 03-Apr-2011, 15:49:43
    Author     : luke
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

