/* ====== Tables ====== */
.data table {width:100%;border:1px solid #CCCCCC;}
th, td{vertical-align:top;border:1px solid #CCCCCC;}
.data thead tr{background-color: #f1f1f1;}

/* ====== Nworx Grid Tables ====== */
.data.nworx-grid table {border:0px;}
/* ====== Default Styles ====== */
a{outline: medium none;}
a:focus{background-color:transparent;}
body{font-family:'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'trebuchet MS',Arial, sans-serif;}

/**
 * used to highlight search matches
 */
.searchHilite{background-color:#cccccc;}
ul li {list-style:disc;margin-left:15px;}
ol li {list-style:decimal;margin-left:15px;}
.noBull li{list-style:none;margin-left:0px;}


h1, h2, h3, h4, h5, h6, ul, ol, dl, p, blockquote, .media{margin:0px 0px 10px;}
