/* 
    Document   : project
    Created on : 26-Mar-2011, 20:16:03
    Author     : matthew
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.time_stats{margin: 0pt auto; width: 400px;}
.time_stats h5{text-align:center;}
.time_stats table{margin: 0pt auto;}
.time_stats td{border:none;}
.time_stats .label {
    padding: 0 10px;
    text-align: right;
}
.time_stats .value {
    text-align: right;
    vertical-align: middle;
}
.solidTabs .view {
    border: 1px solid #CCCCCC;
}
.solidTabs li {
    display: inline;
}
.solidTabs .tabs {
    margin-bottom: 4px;
    text-align: justify;
}
.solidTabs li {
    border: 1px solid #CCCCCC;
    margin: 0;
    position: relative;
    top: 1px;
    vertical-align: middle;
}
.solidTabs {
    margin-top: 19px;
}
.solidTabs a {
    padding: 0 9px;
}
.solidTabs li a:focus,.solidTabs .active {
    background-color: dimGray;
    text-decoration: none;
}
.solidTabs li a:hover{
    background-color: grey;
    text-decoration: none;
}
.solidTabs .view {
    padding: 9px;
}