/* Bootstrap overrides - Could maybe go in a seperate file? */
a:focus{outline:none}
.topbar{position:static;height:auto}
.page-header{overflow:hidden}
.page-header h1,.page-header h2,.page-header h3{float:left}
.page-header .action-buttons{float:right}

/* Site Styles */
html,body{height:100%}
.login-page{background:url('../images/background.jpg') no-repeat center top}


/**
 * head and menu style
 */
.head{position:relative;background:#FFFFFF}
#sitelogo{padding:10px}
.main{padding:20px;}
/**
 * Override the default yii grid styles.
 */
.grid-view .filters input, .grid-view .filters select{border:none;}