/* Bootstrap overrides - Could maybe go in a seperate file? */
a:focus{outline:none}
.topbar{position:static;height:auto}
.page-header{overflow:hidden}
.page-header h1,.page-header h2,.page-header h3{float:left}
.page-header .action-buttons{float:right;padding: 0 10px}
.modal-backdrop,.modal-backdrop.fade.in{opacity:0.5}
.actions{background:#F5F5F5;border-radius:0 0 3px 3px;border-top:1px solid #DDDDDD;border-bottom:1px solid #DDDDDD;margin-bottom:18px;margin-top:18px;padding:17px 10px 18px 150px;text-align:right}

.tabs .heading{margin-right:20px}

/* Vertical Tabs */
.tabs.vertical{width:200px;border-bottom:none;border-right:1px solid #DDD;margin:0 20px 0 0;padding-bottom:4px}
.tabs.vertical > li{float:none;left:1px;margin-top:2px}
.tabs.vertical > li > a{border-radius:4px 0 0 4px;margin-right:0px;padding:0 12px;line-height:30px}
.tabs.vertical > li > a:hover{border-color:#EEEEEE #DDDDDD #EEEEEE #EEEEEE}
.tabs.vertical > li.active > a{border-color:#DDDDDD;border-right:1px solid transparent}
.tabs.vertical .heading{margin-right:0}
.tab-content.vertical{display:table-cell;width:9999em}

/* Site Styles */
html,body{height:100%}
.page{min-width:980px}

/**
 * head and menu style
 */
.head{position:relative;background:#FFFFFF}
#sitelogo{padding:10px}
.body{padding:15px;}
/**
 * Override the default yii grid styles.
 */
.grid-view,.tab-content .grid-view{padding:0}
.grid-view .filters input, .grid-view .filters select{border:none;}
.grid-view tbody tr td.success{background-color:#D1EED1;border-color:#BFE7BF}
.grid-view table th,.grid-view table td{padding:6px 7px}
.grid-view .filters .input{padding:3px}

.menu-dropdown .menu-notice{float:right;}

.login-page{background:url('../images/background.jpg') no-repeat left top}