/* 
    Document   : support.css
    Created on : 19-Mar-2011, 15:07:14
    Author     : steve
    Description:
        Purpose of the stylesheet follows.
*/
#messageList{background:url('images/message-border.png') repeat top left;}
#messageList .listItem.selTop{border-bottom:1px solid #aaa;}
#messageList .listItem.sel{background:url('images/msg-listitem-sel.png') repeat-x top left;border-bottom:1px solid #b7babb}