

.flashy .field.focus .inputBox {box-shadow: 0 0 5px #387BBE;-moz-box-shadow:0 0 5px #387BBE;-webkit-box-shadow: 0 0 5px #387BBE; background-image:none;}
.flashy .inputBox {border-radius: 4px;-moz-border-radius: 4px; -webkit-border-radius: 4px;}


.inputBox.multiInput{padding:0px;}
.flashy .focus .noHighlight .inputBox{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}