/* 
    Document   : project.css
    Created on : 19-Jun-2011, 10:15:28
    Author     : steve
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/




