.txtC{text-align:center}
#timesheet-grid .hour_units{width:37px;text-align:right}
#timesheet-grid .delete-column,#timesheet-grid .add-column{width:30px;text-align:center}
#timesheet-grid td.hour_units input{width:25px;text-align:right;}
#timesheet-grid tfoot th {font-weight:normal;}
#timesheet-grid tfoot th.total-col {font-weight:bold;}